<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="calculatorServices" class="com.examples.CalculatorServices" scope="prototype">

    </bean>


    <bean id="gestorFacturas" class="com.examples.GestorFacturas">
        <constructor-arg name="calculatorServices" ref="calculatorServices"/>
        <constructor-arg name="nombre" value="Facturar 300"/>
    </bean>
</beans>